version: "3"

networks:
  network:
    name: inception-network
    driver: bridge

volumes:
  wordpress:
    driver: local
    name: wordpress
    driver_opts:
      type: none
      o: bind
      device: /home/csantivi/data/wordpress
  mariadb:
    driver: local
    name: mariadb
    driver_opts:
      type: none
      o: bind
      device: /home/csantivi/data/mariadb

services:
  mariadb:
    container_name: mariadb
    hostname: mariadb
    build:
      context: requirements/mariadb/
      dockerfile: Dockerfile
    environment:
      - DOCKER_BUILDKIT=0
    env_file:
      - .env
    volumes:
      - mariadb:/var/lib/mysql
    networks:
      - network
    restart: always

  wordpress:
    container_name: wordpress
    hostname: wordpress
    build:
      context: requirements/wordpress/
      dockerfile: Dockerfile
    depends_on:
      - mariadb
    env_file:
      - .env
    volumes:
      - wordpress:/var/www/html
    networks:
      - network
    restart: always

  nginx:
    container_name: nginx
    hostname: nginx
    build:
      context: requirements/nginx/
      dockerfile: Dockerfile
    ports:
      - "443:443"
    depends_on:
      - wordpress
    volumes:
      - wordpress:/var/www/html
    networks:
      - network
    restart: always
